:root{
    --cor-fundo:#b725ec;
    --cor-principal:#0b0d20;
    --cor-secundaria:#2bdefd;
    --cor-texto:#ffffff;
    --cor-destaque:#212333;
}

body{
    background-color: var(--cor-fundo);
    color:var(--cor-texto);=
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 5px;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}


h1{
    color: var(--cor-secundaria);
}

.imagem-principal{
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

button{
background-color: var(--cor-secundaria);
color: var(--cor-texto);
border: none;
border-radius: 15px;
padding: 15px;
transition:background-color 0.3s;

}
button:hover{
    background-color: var(--cor-destaque);
    color:var(--cor-principal);
}
let atual = 0;
let perguntaAtual;
let historiaFinal = "";

function mostraPergunta() {
    if (atual >= perguntas.length) {
        mostraResultado();
        return;
    }
    perguntaAtual = perguntas[atual];
    caixaPerguntas.textContent = perguntaAtual.enunciado;
    caixaAlternativas.textContent = "";
    mostraAlternativas();
}
//3d
function mostraAlternativas(){
    for(const alternativa of perguntaAtual.alternativas) {
        const botaoAlternativas = document.createElement("button");
        botaoAlternativas.textContent = alternativa.texto;
        botaoAlternativas.addEventListener("click", () => respostaSelecionada(alternativa));
        caixaAlternativas.appendChild(botaoAlternativas);
    }
}

function respostaSelecionada(opcaoSelecionada) {
    const afirmacoes = opcaoSelecionada.afirmacao;
    historiaFinal += afirmacoes + " ";
    atual++;
    mostraPergunta();
}

function mostraResultado() {
    caixaPerguntas.textContent = "Em 2049...";
    textoResultado.textContent = historiaFinal;
    caixaAlternativas.textContent = "";
}

mostraPergunta();

input{
    padding: 10px;
    border-radius: 15px;
    border: none;
    text-align: center;
    margin: 10px;
}

#serafina.imagem-principal{
    width: 95%;
    border-radius: 15px;
    padding: 30px;
}